:root, [data-theme] {
    --background-hsl: 0,0%,100%;
    --background-color: hsl(var(--background-hsl));
    --sidebar-background-color: #f6f5f4;
    --alternative-background-color: rgba(0,0,0,.05);
    --hover-background-color: rgba(0,0,0,.05);
    --active-background-color: #e6e6e6;
    --disable-background-color: #e0e0e0;
    --accent-hsl: 207,80%,49%;
    --accent-color: hsl(var(--accent-hsl));
    --warning-background-color: #fff3cd;
    --danger-background-color: #f8d7da;
    --success-background-color: #cef1de;
    --danger-color: #e52e1b;
    --success-color: #0ab963;
    --important-color: #f44336;
    --highlights-color: #975da8;
    --reminder-color: #e48748;
    --note-color: #dfa813;
    --article-color: #ec8122;
    --audio-color: #975da8;
    --document-color: #6a7c93;
    --book-color: #a2845e;
    --image-color: #1aa051;
    --video-color: #625ac3;
    --broken-color: #e75d7b;
    --duplicate-color: #14a2a1;
    --tag-color: #8791a1;
    --filter-color: #8791a1;
    --primary-text-color: #4d4d4d;
    --secondary-text-color: grey;
    --disable-text-color: rgba(0,0,0,.3);
    --scrollbar-color: rgba(0,0,0,.18);
    --shadow-alpha: .13;
    --shadow-light-alpha: .1;
    --shadow-color: rgba(0,0,0,var(--shadow-alpha));
    --shadow-light-color: rgba(0,0,0,var(--shadow-light-alpha));
    color: #1a1a1a;
    color-scheme: light;
}

